---
---
/* modify Bootstrap variables here */

@import 'bootstrap/bootstrap';

/* add additional CSS rules below */

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    margin-top: 20px;
}

portfolio-item {
    margin-bottom: 24px!important;
}