---
---
/* modify Bootstrap variables here */

@import 'bootstrap/bootstrap';

/* add additional CSS rules below */

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    margin-top: 20px;
}

.portfolio-item {
    padding-bottom: 15px;
}

.carousel-inner .carousel-item img {
    height: 100%;
    width: 98%!important;
    max-height: 500px;
    max-width: 97%;
    object-fit: cover;
}

.carousel {
    overflow: hidden;
    padding-bottom: 15px;
}

.item {
    overflow: hidden;
    width: 100%;
}
